header img{
    height: 200px;
    border-radius: 20px;
    padding: 20px;

}
nav a{
    text-decoration:none;
    color:rgb(133, 116, 72);
    font-size:20px;
    padding: 5px 10px;
    transform: 1s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    text-align: center;
    background-color: rgb(235, 233, 221);
    color: rgb(8, 6, 3);
}
nav a:hover{
    color:rgb(236, 198, 149);
    transition: 0.5s;
    border-radius: 20px 20px 20px 20px;
    padding: 7px 25px;
    background-color: azure;
    box-shadow: 5px 5px 5px 5px;
}
body{
    margin: 0 ;
}